body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #d1fff0;
}

p {
    font-size: 1.4em;
}

header h1 {
    text-align: center;
    padding: 2rem 0;
    margin: 0;
    font-size: 2.6em;
    font-weight: 700;
    background-color: #59dfb2;
}

#main-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #82ffd5;
}

#about {
    padding-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

#projects {
    margin-top: 2rem;
}

#projects .project-count {
    text-align: center;
}

#projects .filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}


#projects .filters > div,
#projects .filters > select,
#projects .filters > input {
    flex-grow: 1;
    margin-top: 0.75rem;
    max-height: 2.7rem;
    max-width: 100%;
}

#projects .filters #search,
#projects .filters select,
#projects .filters #skills .ts-control,
#projects .filters #order-by span {
    border: 2px solid #59dfb2;
    border-radius: 0.325rem;
}

#projects .filters #order-by-title {
    background-color: #e9e9e9;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
    user-select: none;
    padding-left: 0.4rem;
    padding-right: 0.6rem;
}

#projects .filters #order-by-value {
    border-radius: 0 !important;
}

#projects .filters #order-by-direction {
    padding: 0 0.4rem;
    background-color: #e9e9e9;
    cursor: pointer;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0 !important;
}

#projects .filters #order-by-direction:hover {
    background-color: #c0c0c0;
}

#projects .filters #order-by-direction .icon {
    width: 1.5rem;
    transition: transform 0.3s ease;
}

#projects .filters #order-by-direction[data-direction="asc"] .icon {
    transform: rotate(90deg);
}

#projects .filters #order-by-direction[data-direction="desc"] .icon {
    transform: rotate(-90deg);
}

#projects .grid {
    margin-top: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .grid .card {
    position: relative;
    width: 16rem;
    margin: 0.6rem 1rem;
    border: 2px solid #59dfb2;
    border-radius: 0.325rem;
}

#projects .grid .card p {
    font-size: 1em;
}

#projects .grid .card .thumbnail {
    background-color: #ddd;
}

#projects .grid img {
    display: block;
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

#projects .grid .card .carousel button {
    opacity: 1.0 !important;
}

#projects .grid .card .carousel button span {
    width: 1.6rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.325rem;
}

#projects .grid .card-body {
    border-top: 2px solid #59dfb2;
}

#projects .grid .card-body:hover {
    cursor: pointer;
    background-color: #eee;
}

#projects .grid .card .description {
    margin-bottom: 2.2rem;
}

#projects .grid .card .tags {
    position: absolute;
    bottom: 0.4rem;
}

#projects .grid .card .badge {
    margin-right: 0.2rem;
}
