body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #f8f9fa;
}

hr {
    border-color: #6c757d;
    border-width: 2px;
    margin: 0.875rem 0;
}

header h1 {
    text-align: center;
    padding: 1.8rem 0 2rem 0;
    margin: 0;
    font-size: 2.7em;
    font-weight: 700;
    background-color: #052c65;
    color: #f8f9fa;
}

#main-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa;
}

#about {
    font-size: 1.4em;
    padding-top: 2rem;
    margin-top: 2rem;
    margin-left: 14%;
    margin-right: 14%;
    background-color: #cfe2ff;
    padding: 0.9rem 1.5rem 1rem 1.5rem;
    border-radius: 0.375rem;
}

#projects {
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    background-color: #e9ecef;
    border-radius: 0.375rem;
}

#projects .filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

#projects .filters > div,
#projects .filters > select,
#projects .filters > input {
    flex-grow: 1;
    max-height: 2.7rem;
    max-width: 100%;
}

#projects .filters #search,
#projects .filters select,
#projects .filters #skills .ts-control {
    border: 1px solid #ced4da;
}

#projects .filters #search:focus,
#projects .filters select:focus,
#projects .filters #skills .focus .ts-control {
    box-shadow: none;
    border-color: #3d8bfd !important;
}

#projects .filters #search::placeholder,
#projects .filters #skills input::placeholder {
    color: #6c757d;
}

#projects .filters #order-by-title {
    background-color: #3d8bfd;
    color: #f8f9fa;
    border-color: #3d8bfd;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    user-select: none;
    padding-left: 0.4rem;
    padding-right: 0.6rem;
}

#projects .filters #order-by-value {
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

#projects .filters #order-by-direction {
    padding: 0 0.4rem;
    background-color: #3d8bfd;
    cursor: pointer;
    border-color: #3d8bfd;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    transition: 0.2s;
}

#projects .filters #order-by-direction:hover {
    background-color: #0a58ca;
    border-color: #0a58ca;
}

#projects .filters #order-by-direction .icon {
    width: 1.5rem;
    transition: transform 0.3s ease;
}

#projects .filters #order-by-direction .icon path {
    fill: #f8f9fa;
}

#projects .filters #order-by-direction[data-direction="asc"] .icon {
    transform: rotate(90deg);
}

#projects .filters #order-by-direction[data-direction="desc"] .icon {
    transform: rotate(-90deg);
}

#projects .project-count {
    margin: 0.875rem auto;
    text-align: center;
    font-size: 0.85em;
    color: #6c757d;
    max-width: 12rem;
}

#projects .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .grid .card {
    position: relative;
    width: 16rem;
    margin: 0 0.6rem 1.25rem 0.6rem;
    border: 2px solid #ced4da;
    border-radius: 0.7rem;
    background-color: #f8f9fa;
}

#projects .grid .card p {
    font-size: 1em;
}

#projects .grid img {
    display: block;
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
}

#projects .grid .card .carousel button {
    opacity: 1.0 !important;
}

#projects .grid .card .carousel button span {
    width: 1.6rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.375rem;
    transition: 0.2s;
}

#projects .grid .card .carousel button span:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#projects .grid .card-body {
    border-top: 2px solid #ced4da;
    transition: 0.2s;
}

#projects .grid .card-body:hover {
    cursor: pointer;
    background-color: #cfe2ff;
}

#projects .grid .card .card-title {
    color: #0a58ca;
}

#projects .grid .card .description {
    margin-bottom: 2.2rem;
    color: #6c757d;
}

#projects .grid .card .tags {
    position: absolute;
    bottom: 0.4rem;
}

#projects .grid .card .badge {
    margin-right: 0.2rem;
}

#projects .grid .card .made-for-badge {
    background-color: #3d8bfd;
    color: #f8f9fa;
}

#projects .grid .card .skill-badge {
    background-color: #6c757d;
    color: #f8f9fa;
}
